# TUPLAS

#no se puede modificar **INMUTABLE**
- tupla_name = (indice:0, 1, 2, 3....)
- se utilizan para fines de: LECTURA O CONSULTAR VALORES
- para conservar valores por el resto del programa
- para crear tuplas puedo usar o no los () y si es de un solo valor basta con colocar una , al final

In [ ]:
settings = ("localhost", 3306, True) #<class 'tuple'>

print(settings)
print(settings[-1])
print(type(settings))
#settings[1] = "128.255.255.1" #TypeError

In [7]:
#crear tuplas
numbers = 1, 2, 3, 4, 5 #tuple sin ()
numbers_2 = 1, #tuple 

print(type(numbers_2))

<class 'tuple'>

In [ ]:
#desempaquetado - 1
courses = (
    "Python", "Django", "Ruby", "Ruby on Rails", "MySQL"
)
# var1 = courses[0]
# var2 = courses[1]
# var3 = courses[2]
# var4 = courses[3]
# var5 = courses[4]

#var1, var2, var3, var4, var5 = courses[0], courses[1], courses[2], courses[3], courses[4]

var1, var2, var3, var4, var5 = courses

print(var1, var2, var3, var4, var5)

Python Django Ruby Ruby on Rails MySQL

In [20]:
#desempaquetado - 2
courses = (
    "Python", "Django", "Ruby", "Ruby-on-Rails", "MySQL", "MongoDB"
)
# _
var1, _, var3, var4, var5, _ = courses #omito el valor 2 y 6

print(var1, var3, var4, var5)
print(_)

var1, var2, *sub_curso, last_value = courses
print(var1, var2, sub_curso, last_value)

Python Ruby Ruby-on-Rails MySQL
MongoDB
Python Django ['Ruby', 'Ruby-on-Rails', 'MySQL'] MongoDB

In [23]:
#funcion ZIP
users = ["user1", "user2", "user3"]
courses = ("python", "Django", "Rails")
scores = [10, 8, 7]

response = list(zip(users, courses, scores))
print(response)

[('user1', 'python', 10), ('user2', 'Django', 8), ('user3', 'Rails', 7)]

In [ ]:
numbers = (
    1, 4, 5, 3, 3, 7, 2, 10
)

print(len(numbers))
print(sorted(numbers, reverse=True))#ordena una coleccion (por defecto:asc)
print(numbers.count(3))#me indica cuantas veces se repite el valor
print(3 in numbers)
print(numbers.index(7))#obtener el indice del valor ingresado

8
[10, 7, 5, 4, 3, 3, 2, 1]
2
True
5